* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 5px; /* 滚动条的宽度 */
}
::-webkit-scrollbar-thumb {
  background: skyblue; /* 渐变颜色 */
}
::-webkit-scrollbar-thumb:hover {
  background: wheat; /* 悬停颜色 */
}
